{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem dolorum eius enim eum, iste qui quidem
        rem veniam! Ad animi enim ipsum libero molestiae. Aliquam aliquid deserunt eaque omnis voluptatibus! Amet asperiores
        delectus est illum ipsam, libero obcaecati suscipit?</p>
    <p>Impedit laboriosam molestias possimus quae quisquam sequi
        tenetur! A consequuntur cupiditate delectus distinctio ducimus eaque eius est facilis, hic impedit, ipsum laboriosam
        libero maiores minima mollitia nam non nostrum perspiciatis quaerat quam quis ratione repellat repellendus sed unde
        vel voluptatem!</p>
{% endblock body %}